*

!/*.js
!/*.json
!/*.md

!/.editorconfig
!/.gitattributes
!/.gitignore

!.github/
!.github/**/
!.github/**/*.yaml

!lib/
!lib/**/
!lib/**/*.d.ts
!lib/**/*.js
!lib/**/*.js.map

!src/
!src/**/
!src/**/*.ts

!test/
!test/**/
!test/**/*.ts
